
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.sobre-a-loja {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.sobre-imagem {
    flex: 1;
    text-align: center;
}

.sobre-imagem img {
    max-width: 100%;
}

.sobre-texto {
    flex: 1;
    padding: 20px;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.produto {
    flex: 1;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

.produto img {
    max-width: 100%;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .sobre-a-loja {
        padding: 40px;
    }
    .sobre-imagem {
        flex: 1;
        text-align: center;
    }
    .sobre-texto {
        flex: 1;
        padding: 40px;
    }
    .produtos {
        justify-content: space-between;
        padding: 40px;
    }
    .produto {
        flex: 0.23;
        margin: 10px;
        padding: 20px;
    }
}

@media (min-width: 641px) and (max-width: 1023px) {
    .sobre-imagem, .sobre-texto, .produto {
        width: 100%;
    }
    .sobre-a-loja {
        flex-direction: column;
        padding: 20px;
    }
    .produtos {
        padding: 20px;
    }
}

@media (max-width: 640px) {
    .sobre-imagem, .sobre-texto, .produto {
        width: 100%;
    }
    .sobre-a-loja {
        flex-direction: column;
        padding: 20px;
    }
    .produtos {
        padding: 20px;
    }
}
